// Base Colors
$black: #000;
$white: #FFF;

// Branding Colors
$background-color: #F9F9F9;
$border-color: #EEE;
$focus-shadow: #F79E37;
$font-color: #888;
$font-color-dark: #666;
$primary-color: #F6921E;
$primary-color-dark: #D37520;
