<div class="container-main">
  <div class="logo">
    <img src="assets/images/zenefits-logo.svg" alt="Zenefits Logo">
    <h1 id="title">ZeneMap</h1>
  </div>
  {{google-map latitude=zenefitsLatitude longitude=zenefitsLongitude}}
  {{outlet}}
</div>
